.page-not-found__note {
  margin: 20px auto;
  padding: 0 17px;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .page-not-found__note {
    font-size: calc((100vw - 320px) / (1200 - 320) * (36 - 20) + 20px);
  }
}
