.search__sumbit-btn {
  background-image: url(../../../images/search-button.svg);
  background-size: 45%;
  background-position: center center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}