.header__link {
  cursor: pointer;
  font-weight: 400;
  font-size: 22px;
  line-height: 14.52px;
  color: #000;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.4;
}

@media screen and (max-width: 500px) {
  .header__link {
    font-size: 16px;
  }
}
