.header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 446px) {
  .header__burger {
    display: flex;
  }
}