.elements__list {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px 27px;
  grid-template-columns: repeat(3, 296px);
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .elements__list {
    grid-template-columns: repeat(2, 296px);
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .elements__list {
    grid-template-columns: repeat(1, 273px);
    gap: 15px;
  }
}
