@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/loader/loader.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo-container/header__logo-container.css);
@import url(./blocks/header/__logo-link/header__logo-link.css);
@import url(./blocks/header/__logo-image/header__logo-image.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__navigation/header__navigation.css);
@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__burger-line/header__burger-line.css);
@import url(./blocks/header/__burger-line/_close/header__burger-line_close.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__links/_mobile-open/header__links_mobile-open.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__link/_active/header__link_active.css);

@import url(./blocks/content/content.css);

@import url(./blocks/search/search.css);
@import url(./blocks/search/__form/search__form.css);
@import url(./blocks/search/__input/search__input.css);
@import url(./blocks/search/__button/search__button.css);
@import url(./blocks/search/__clear-btn/search__clear-btn.css);
@import url(./blocks/search/__submit-btn/search__sumbit-btn.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__item/elements__item.css);

@import url(./blocks/page-not-found/page-not-found.css);
@import url(./blocks/page-not-found/__number/page-not-found__number.css);
@import url(./blocks/page-not-found/__note/page-not-found__note.css);
@import url(./blocks/page-not-found/__link/page-not-found__link.css);
@import url(./blocks/elements/__img/elements__img.css);
@import url(./blocks/elements/__item/_big/elements__item_big.css);

@import url(./blocks/pagination/pagination.css);
@import url(./blocks/pagination/__list/pagination__list.css);
@import url(./blocks/pagination/__item/pagination__item.css);
@import url(./blocks/pagination/__item/_active/pagination__item_active.css);
@import url(./blocks/pagination/__button/pagination__button.css);
@import url(./blocks/pagination/__button-left/pagination__button-left.css);
@import url(./blocks/pagination/__button-right/pagination__button-right.css);
@import url(./blocks/pagination/__button/_disabled/pagination__button_disabled.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type_image/popup_type_image.css);
@import url(./blocks/popup/_open/popup_open.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);